.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  transform: translateX(-100%);
  transition: all 0.6s ease-in;
}
.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-evenly;
  cursor: pointer;
  img {
    width: 30%;
    border-radius: 50%;
  }
  &:hover {
    background: rgb(184, 184, 233);
  }
}
.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}
.selected {
  background: rgb(184, 184, 233);
}
.active-library {
  transform: translateX(0);
  opacity: 1;
}
